.nav-wrapper{
    height: 85px;
    width: 100%;  
    background-color: #7dd9e8;
}
.nav{
    height: 100%;
    padding: 20px;
    margin: 0px auto;
} 
.logo{
    float: left;
    max-width: 50%;
}
.logo img{
    max-width: 80%;
}
.search{
    display: none;
}

input {
    width: 240px;
    font-size: 12px;
}
.search-res {
    margin: 0px auto;
    max-width: 340px;
    height: 49px;
    position: relative;
}

.search-side-img{
    position: absolute; 
    top:-1px
}
.cross img{
    position: absolute; 
    height: 10px;
    top: 5px;
    left: 223px;
}
.serach-icon{
    position: absolute;
    left: 242px;
    top: 0px;
}
.search-btn{
    font-size: 12px;
    position: absolute;
    top: 0px;
    left: 270px;
}
.search-btn-left {
    float: left;
}
.search-btn-right {
    float: left;
}
.search-btn a {
    float: left;
    height: 20px;
    background-color: #255056;
    text-decoration: none;
    color: white;
    padding-top: 3px;
}
.nav-aside{
    display: block;
    font-size:12px;
    float: right;
}

.user{
    text-align: right;
    margin-bottom: 3px;
}

.menu-wrapper{
    height: 90px;
    width: 100%;
    background-color: #f5f8f9;
}
 
.nabar-value ul{
    list-style: none;
}

.nabar-value li {
    padding :2px 8px;
    float: left;
    text-decoration: none;
}
.nabar-value li a {
    text-decoration: none;
}
.menu {
    height: 100%;
    max-width: 942px;
    width: 80%;
    margin: 0px auto;
    padding: 10px 20px;
    font-size: 13px;
}
.burger-menu{
    height: 30px;
    background-color: #caeff7;
    margin: 3px auto;
    padding: 5px;
}
.menu{
    width: 80%;
}
 
.menu-inline a{
    text-decoration: none;
    color: black;
    width: 80%;
    float: left;
    height: 100%;
}
.burger-box{
    border: 1px solid black;
    height: 20px;
    width: 20px;
    float: right;
}

.line{
    border:1px solid #727272;
    margin:3px;
}

.menu-list {
    display:none;
}
.menu-aside{
    text-align: center;
}
.menu-aside img{
    margin-left: 10px
}
.freind-request-span{
    display: block;
}
.body-container-wrapper{
    width: 100%;
    height: auto;
    margin-top: 40px;
}
.body-aside{
    height: auto;
    max-width: 100%;
    background-color: #f5f8f9;
    font-size: 13px;
    margin: 20px;
}
.body-main{
    height: auto;
    width: 100%;
}
.body-main h1{
    text-align: center;
}
.body-aside ul li {
    list-style: none;
    padding:10px;
}
.body-aside-header{
    background-color: #7dd9e8;
    color: #fff;
    font-size: 15px;
    height: 42px;
}
.body-aside li img{
    float: right;
    cursor: pointer;
}
.body-aside a{
    text-decoration: none;
    color: black;
    display: block;
}
.body-aside-menu:hover{
    background-color: #fff;
}
.recent-text{
    height: 20px;
    width: 87%;
    float: left;
}
.entries-menu{
    height: auto;
    font-size: 14px;
}

.entries-menu{
    height: auto;
}
.body-entry-menu{
    float: left;
    width: 50%;
    text-align: center;
    height: 74px;
    background-color: #f5f8f9;
    padding:10px 0;
}
.body-entry-menu-down{
    background: #f5f8f9;
    height: auto;
}
.entries-menu-down{
    background-color: #f5f8f9;
    height: auto;
    border-bottom: 2px solid #30c1da;
}
.body-entry-list a{
    font-size: 12px;
    height:28px;
    width:90px;
    text-decoration: none;
    color: black;
    list-style:none;
    background: #dddddd;
    padding:8px 2px;
    text-align: center;
    float: left;
}
.entries-menu-down{
    display: none;
}
.profile-wall-wrapper{
    width: 100%;
    margin-top: 20px;
    height: auto;
}
.profile-wall{
    height: auto;
    padding:5px;
    border-bottom: 1px solid #727272;
}
.profile-pic{
    float: left;
    margin-right: 15px;

}
.profile-pic img {
    height: 50px;
    width: 50px;
}
.profile-detail{
    /* text-align: justify; */
    font-size: 10px;
    float: left;
}
.profile-detail h4{
    font-size: 12px;
}
.profile-wall-list{
    font-size: 12px;
}
.profile-wall-list ul{
    list-style: none;
}

.profile-wall-list li {
    padding :2px 6px;
    float: left;
    text-decoration: none;
}
.profile-wall-list li a {
    text-decoration: none;
}
.footer-menu{
    margin:0px auto;
}

.footer-menu-wrapper{
    margin-top: 33px;
    height: 210px;
    padding: 5px 0px;
    width: 100%;
    background-color: #727272;
}
.footer-menu-wrapper li {
    list-style: none;
    text-align: center;
    color: white;
    float: none;
}
 
.footer-menu-wrapper li a{
    text-decoration: none;
    color: white;
    display:block;
    padding: 10px;
}
.footer-menu-list{
    text-align: center;
    padding-top: 10px;
    color: #ffffff;
}

